<div class="flex flex-col items-center min-h-screen bg-gray-100 p-8">
  <div class="w-full max-w-xs mx-auto text-center mt-5">
    <div class="text-xl">
      Edytuj swój lokal
    </div>
  </div>
  <div class="">
    <%= render 'form', venue: @venue %>
  </div>
</div>