<div class="grid grid-cols-12 text-center">
    <div class="col-span-6" >
        <p class="text-xs">This is demo version of knajping app, check readme on github page </p>
    </div>
    <div class="col-span-6">
        Links:
        <ul>
            <li>
                <a href="https://maciejbentkowski.pl" target="_blank">My Personal Site</a>
            </li>
        </ul>
    </div>
</div>

<div class="text-center text-sm">
    <p>Copyright &copy; by <a href="https://maciejbentkowski.pl" target="_blank">Maciej Bentkowski</a> 2024</p>
</div>
