<footer class="footer footer-center bg-base-300 text-base-content rounded-sm p-10">
  <p class="text-xs">This is demo version of knajping app, test it out and check for updates </p>
  <nav class="grid grid-flow-col gap-4">
    <a class="link link-hover">About us</a>
    <a class="link link-hover">Contact</a>
  </nav>
  <aside>
    <p>Copyright © 2025 - All right reserved by <a href="https://maciejbentkowski.pl" target="_blank">Maciej Bentkowski</a></p>
  </aside>
</footer>